@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Main courante des interventions <a href="https://www.sbe-online.com">SBE France</a> sur le site de Saint Léonard .</p>
</div>
