@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body>

 

    <div class="container">
        <div class="row">
            <div class="legal">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>La Politique de Confidentialité ci-dessous décrit la manière dont SBE collecte, conserve et utilise vos données personnelles, conformément aux exigences du règlement européen sur la protection des données (RGPD). La présente politique s&rsquo;applique aux clients de SBE. Les candidats à l&#8217;embauche doivent se référer à la Politique de Confidentialité RH disponible dans nos pages Carrières.</p>
                <p>&nbsp;</p>
                <p>SBE a à cœur d’assurer la confidentialité et la protection de vos données personnelles. Lorsque nous employons les termes «&nbsp;données&nbsp;» et «&nbsp;données personnelles&nbsp;», nous entendons les données personnelles qui vous identifient ou qui pourraient être utilisées pour vous identifier, par exemple votre nom, vos coordonnées, les informations sur votre produit et votre preuve de garantie. Cette qualification peut également englober les informations sur votre mode d’utilisation de nos applications et sites web.</p>
                <p>&nbsp;</p>
                <h2>Ce que vous devez savoir</h2>
                <div id="sommaire_parent">
                    <table class="sommaire">
                        <tbody>
                            <tr>
                                <td><strong><a href="#who">1.</a></strong></td>
                                <td><strong><a href="#who">Qui est le responsable de traitement de vos données</a></strong></td>
                            </tr>
                            <tr>
                                <td><strong><a href="#what">2.</a></strong></td>
                                <td><strong><a href="#what">Données personnelles que nous recueillons auprès de vous</a></strong></td>
                            </tr>
                            <tr>
                                <td><strong><a href="#how1">3.</a></strong></td>
                                <td><strong><a href="#how1">Comment nous collectons les données vous concernant</a></strong></td>
                            </tr>
                            <tr>
                                <td><strong><a href="#how2">4.</a></strong></td>
                                <td><strong><a href="#how2">Comment nous utilisons vos données</a></strong></td>
                            </tr>
                            <tr>
                                <td><strong><a href="#share">5.</a></strong></td>
                                <td><strong><a href="#share">Partage de vos données avec des tiers</a></strong></td>
                            </tr>
                            <tr>
                                <td><strong><a href="#sec">6.</a></strong></td>
                                <td><strong><a href="#sec">Moyens utilisés pour protéger vos données</a></strong></td>
                            </tr>
                            <tr>
                                <td><strong><a href="#keep">7.</a></strong></td>
                                <td><strong><a href="#keep">Durée de conservation de vos données</a></strong></td>
                            </tr>
                            <tr>
                                <td><strong><a href="#cbt">8.</a></strong></td>
                                <td><strong><a href="#cbt">Envoi de données en dehors de l’Espace Économique Européen</a></strong></td>
                            </tr>
                            <tr>
                                <td><strong><a href="#rights">9.</a></strong></td>
                                <td><strong><a href="#rights">Vos droits</a></strong></td>
                            </tr>
                            <tr>
                                <td><strong><a href="#contact">10.</a></strong></td>
                                <td><strong><a href="#contact">Nous contacter</a></strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p>&nbsp;</p>
                <div id="who"></div>
                <h2>Qui est le responsable de traitement de vos données</h2>
                <p>La société SBE SAS est responsable des données que vous lui fournissez dans le cadre d’une prise de contact sur les sites SBEGLOBALCARE.COM ou SBEGLOBALSERVICE.COM ou d’un contrat que vous pourriez souscrire avec nous. Dans ce cadre, SBE SAS est le responsable de traitement de vos données car nous définissons d’une part la manière dont vos données personnelles sont recueillies, et d’autre part les finalités de traitement de vos données. L&rsquo;adresse de notre siège social est : SBE SAS, 1 BOULEVARD DE LA LIANE, 62360 SAINT LEONARD, FRANCE.</p>
                <p>&nbsp;</p>
                <p>SBE SAS agit également en tant que sous-traitant pour un grand nombre de clients dans le domaine du service après-vente des produits électroniques, via sa plateforme Cloud de gestion des retours (GlobalCare). Pour toute information concernant le traitement de vos données personnelles via la plateforme GlobalCare, nous vous invitons à lire la politique de confidentialité du fabricant, distributeur ou assureur de votre appareil.</p>
                <p>
                    &nbsp;<br />
                    Si vous nous avez envoyé (ou projetez de nous envoyer) un produit en réparation, et que vous souhaitez savoir comment vos données sont traitées par l&rsquo;une de nos sociétés affiliées pour les besoins de la réparation, nous vous invitons à lire la Politique de Confidentialité de la filiale SBE dont vous dépendez :
                </p>
                <p>&nbsp;</p>
                <ul class="indent">
                    <li><a href="https://monsavmobile.fr/privacy">Politique de Confidentialité SBE FRANCE</a></li>
                    <li><a href="https://uk.sbeglobalservice.com/privacy">Politique de Confidentialité SBE UK (ROYAUME-UNI)</a></li>
                    <li><a href="https://sbe-online.pl/">Politique de Confidentialité SBE POLAND (POLOGNE)</a></li>
                </ul>
                <p>&nbsp;</p>
                <div id="what"></div>
                <h2>Données personnelles que nous recueillons auprès de vous</h2>
                <p>Nous collectons des données personnelles vous concernant lorsque vous faites une demande d&rsquo;informations ou autre prise de contact sur notre site. Les informations que nous collectons sont :</p>
                <p>&nbsp;</p>
                <ul class="indent">
                    <li>Vos informations et coordonnées personnelles (exemples : nom, prénom, société, numéro de téléphone, email…)</li>
                    <li>Les informations relatives à votre demande (exemples : motif de la demande, courrier…)</li>
                </ul>
                <p>&nbsp;</p>
                <p>SBE SAS ne collecte, ni traite aucune donnée sensible telle que définie par le RGPD (par exemple : données de santé, convictions politiques ou religieuses, etc.). Par ailleurs, SBE SAS ne collecte, ni traite aucune donnée concernant des personnes mineures de moins de 15 ans sans l’accord parental.</p>
                <p>&nbsp;</p>
                <div id="how1"></div>
                <h2>Comment nous collectons les données vous concernant</h2>
                <p>Nous collectons les données vous concernant :</p>
                <p>&nbsp;</p>
                <ul class="indent">
                    <li>Soit directement, via le formulaire de collecte de données lorsque vous effectuez une demande sur notre site web, ou par téléphone, si vous nous appelez pour obtenir des informations sur un produit ou demander un devis ;</li>
                    <li>Soit indirectement, via des annuaires publics ou plateformes de mise en relation telles que LinkedIn.</li>
                </ul>
                <p>&nbsp;</p>
                <div id="how2"></div>
                <h2>Comment nous utilisons vos données</h2>
                <p>Conformément à la législation, nous n’utilisons vos données personnelles que s’il existe une base légale pour les traiter. Dans le tableau figurant ci-dessous, nous avons présenté les différentes façons dont nous utilisons vos données personnelles (les finalités du traitement), ainsi que les raisons pour lesquelles nous utilisons ces données (les bases légales du traitement).</p>
                <p>&nbsp;</p>
                <table class="tableau">
                    <tbody>
                        <tr>
                            <th>FINALITÉ(S) DU TRAITEMENT</th>
                            <th>BASE(S) LÉGALE(S) DU TRAITEMENT</th>
                        </tr>
                        <tr>
                            <td>Prospection commerciale</td>
                            <td>Notre intérêt légitime</td>
                        </tr>
                        <tr>
                            <td>Gestion commerciale et contractuelle</td>
                            <td>Exécution d’un contrat</td>
                        </tr>
                        <tr>
                            <td>Enregistrer une demande de votre part (exemples : demande de devis, candidature spontanée)</td>
                            <td>Exécution d’un contrat ou de mesures pré-contractuelles</td>
                        </tr>
                        <tr>
                            <td>Améliorer nos produits et services (exemple : envoi d&rsquo;une enquête de satisfaction)</td>
                            <td>Notre intérêt légitime</td>
                        </tr>
                        <tr>
                            <td>Communiquer avec vous concernant d’autres motifs que votre demande initiale (exemple : envoi d’une newsletter)</td>
                            <td>Votre consentement</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>SBE SAS ne réalise aucune opération de profilage sur vos données personnelles.</p>
                <p>&nbsp;</p>
                <div id="share"></div>
                <h2>Partage de vos données avec des tiers</h2>
                <p>Dans le cadre des services que nous proposons sur le site, nous sommes amenés à partager certaines de vos données avec les catégories de tiers suivants :</p>
                <p>&nbsp;</p>
                <ul class="indent">
                    <li><strong>Nos partenaires informatiques et d’hébergement.</strong> Notre plateforme GlobalCare est maintenue par nos soins avec l’aide de sociétés externes pour le développement et le support technique (exemples : EASYTEAM, INEAT). La plateforme est hébergée par la société MEDIACTIVE GROUP dans des centres de données sécurisés situés en France.</li>
                    <p>&nbsp;</p>
                    <li><strong>Nos partenaires de « Digital Analytics ».</strong> Nos sites web utilisent des cookies générés par AT INTERNET et/ou GOOGLE ANALYTICS afin d’analyser le trafic sur le site et d’obtenir des statistiques et rapports sur l’utilisation qui en est faite par les visiteurs du site.</li>
                    <p>&nbsp;</p>
                    <li><strong>Nos partenaires pour la gestion de la relation client.</strong> Nous communiquons certaines de vos informations à des partenaires pour gérer la relation client et recueillir et mesurer votre satisfaction. Nous utilisons notamment les plateformes SNAPENGAGE (messagerie instantanée), TEAMLEADER (gestion de la relation client) et TRUSTPILOT (recueil d’avis et évaluation de la satisfaction client).</li>
                </ul>
                <p>&nbsp;</p>
                <p>SBE SAS s’engage formellement à ne jamais revendre vos données personnelles à des tiers, et à ne jamais les utiliser pour une finalité autre que celles exposées dans la présente Politique de Confidentialité.</p>
                <p>&nbsp;</p>
                <div id="sec"></div>
                <h2>Moyens utilisés pour protéger vos données</h2>
                <p>Nous protégeons vos données personnelles contre tout accès non autorisé, toute utilisation illégale, ou toute perte accidentelle, corruption ou destruction. Nous avons recours à des mesures techniques comme le chiffrement des données et le contrôle des accès aux systèmes hébergeant les données. Nous prenons également des mesures opérationnelles de protection des données, comme par exemple en limitant le nombre de personnes ayant accès aux bases de données dans lesquelles vos données personnelles sont enregistrées.</p>
                <p>&nbsp;</p>
                <p>Nous veillons à ce que ces mesures sécuritaires soient régulièrement révisées et nous nous appuyons sur les normes de sécurité et les meilleures pratiques de notre secteur d’activité. Nous veillons enfin à ce que chacun de nos sous-traitants ayant accès à vos données fournissent, à minima, les mêmes garanties de sécurité et de protection des données que nos propres systèmes, conformément aux exigences du règlement européen (RGPD).</p>
                <p>&nbsp;</p>
                <div id="keep"></div>
                <h2>Durée de conservation de vos données</h2>
                <p>Nous ne conservons vos données que pendant la durée pour laquelle nous en avons besoin. La période pendant laquelle nous avons besoin de ces données dépend des raisons pour lesquelles nous les utilisons, à savoir pour vous fournir des services, pour favoriser nos intérêts légitimes ou pour respecter la législation en vigueur.</p>
                <p>&nbsp;</p>
                <p>Lorsque leur conservation n’est plus justifiée par des exigences juridiques ou commerciales, nous supprimerons vos données personnelles de façon sécurisée ou, dans certains cas, nous les anonymiserons.</p>
                <p>&nbsp;</p>
                <p>Le tableau suivant présente les principales durées de conservation observées dans le cadre du présent traitement de données :</p>
                <p>&nbsp;</p>
                <table class="tableau">
                    <tbody>
                        <tr>
                            <th>NATURE DES DONNÉES</th>
                            <th>DURÉE DE CONSERVATION</th>
                        </tr>
                        <tr>
                            <td>Données de prospection</td>
                            <td>12 mois</td>
                        </tr>
                        <tr>
                            <td>Données relatives à la gestion commerciale et contractuelle</td>
                            <td>Tout au long de la relation contractuelle</td>
                        </tr>
                        <tr>
                            <td>Pièces comptables ou justificatifs (exemples : devis, factures, bons de livraison)</td>
                            <td>Durée de conservation légale (en France, ce délai est de 10 ans)</td>
                        </tr>
                        <tr>
                            <td>Données permettant l’envoi de sollicitations commerciales (exemple : newsletters)</td>
                            <td>Jusqu’au retrait de votre consentement</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <div id="cbt"></div>
                <h2>Envoi de données en dehors de l’Espace Économique Européen</h2>
                <p>Les données personnelles que nous recueillons sont hébergées en France. Nous ne procédons pas à l’envoi de vos données en dehors de l’Espace Économique Européen dans le cadre des finalités du présent traitement de données.</p>
                <p>&nbsp;</p>
                <div id="rights"></div>
                <h2>Vos droits</h2>
                <p>Conformément aux lois en vigueur sur la protection des données personnelles, vous bénéficiez d’un droit d’accès, de rectification et d’opposition pour motif légitime aux données personnelles qui vous concernent, que vous pouvez exercer en adressant un e-mail via notre <a href="contactez-nous">formulaire de contact</a>, ou par courrier à l’adresse indiquée en bas de page.</p>
                <p>&nbsp;</p>
                <p>Veuillez noter que, si la base légale du traitement est l’exécution d’un contrat, l’exercice de certains droits (exemples : droit d’opposition ou de limitation du traitement) pourrait avoir pour conséquence l’impossibilité pour SBE SAS de vous fournir le service demandé (c’est à dire de traiter votre commande).</p>
                <p>&nbsp;</p>
                <p>Si vous nous avez donné votre consentement pour que nous puissions utiliser vos données, par exemple, afin de vous envoyer des sollicitations commerciales (comme des newsletters), vous pouvez retirer votre consentement à tout moment.</p>
                <p>&nbsp;</p>
                <p>Lorsque vous nous contactez, nous vous répondrons dès que nous sommes en mesure de le faire et le cas échéant dans un délai d’un mois. Si votre demande est complexe, nos délais de réponse risquent d’être allongés, mais nous reviendrons vers vous dans un délai supplémentaire de deux mois maximum. La plupart des demandes seront traitées gratuitement, mais nous sommes susceptibles de vous demander de payer des frais administratifs raisonnables si vous nous demandez, par exemple, une importante quantité de données. Nous sommes également susceptibles de vous demander de prouver votre identité afin de pouvoir vous fournir les informations demandées.</p>
                <p>&nbsp;</p>
                <p>Veuillez noter que vous avez le droit de déposer plainte auprès de l’autorité de contrôle chargée de la protection des données personnelles dans le pays où vous vivez ou travaillez ou dans celui où vous estimez qu’une violation des lois sur la protection des données pourrait avoir eu lieu. L’autorité de contrôle pour la France est la CNIL (<a href="https://www.cnil.fr" target="_blank" rel="noopener noreferrer">www.cnil.fr</a>).</p>
                <p>&nbsp;</p>
                <div id="contact"></div>
                <h2>Nous contacter</h2>
                <p>
                    Pour toute question relative à cette Politique de Confidentialité, ou si vous souhaitez exercer l&rsquo;un de vos droits au titre du RGPD, veuillez utiliser notre <a href="contactez-nous">formulaire de contact</a>. Vous pouvez également contacter notre délégué à la protection des données en nous adressant un e-mail l’adresse suivante&nbsp;: dpo&nbsp;(at)&nbsp;sbeglobalservice.com, ou par courrier&nbsp;:<br />
                    &nbsp;<br />
                    <strong>
                        SBE SAS<br />
                        SERVICE DPO<br />
                        1 BOULEVARD DE LA LIANE<br />
                        62360 SAINT-LÉONARD<br />
                        FRANCE
                    </strong>
                </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {

            if (typeof CHX !== 'undefined') {
                $('select[name*="menu-561"]').val(CHX);
            }
        });
    </script>



    <script type='text/javascript' src='https://sbeglobalservice.com/wp-content/themes/sbe-global/js/navigation.js?ver=1.0'></script>
    <script type='text/javascript'>
        function heateorSssLoadEvent(e) { var t = window.onload; if (typeof window.onload != "function") { window.onload = e } else { window.onload = function () { t(); e() } } }; var heateorSssSharingAjaxUrl = 'https://sbeglobalservice.com/wp-admin/admin-ajax.php', heateorSssCloseIconPath = 'https://sbeglobalservice.com/wp-content/plugins/sassy-social-share/public/../images/close.png', heateorSssPluginIconPath = 'https://sbeglobalservice.com/wp-content/plugins/sassy-social-share/public/../images/logo.png', heateorSssHorizontalSharingCountEnable = 0, heateorSssVerticalSharingCountEnable = 0, heateorSssSharingOffset = -10; var heateorSssMobileStickySharingEnabled = 0; var heateorSssCopyLinkMessage = "Link copied."; var heateorSssUrlCountFetched = [], heateorSssSharesText = 'Partages', heateorSssShareText = 'Partage'; function heateorSssPopup(e) { window.open(e, "popUpWindow", "height=400,width=600,left=400,top=100,resizable,scrollbars,toolbar=0,personalbar=0,menubar=no,location=no,directories=no,status") }; var heateorSssWhatsappShareAPI = "web";
    </script>
    <script type='text/javascript' src='https://sbeglobalservice.com/wp-content/plugins/sassy-social-share/public/js/sassy-social-share-public.js?ver=3.3.8'></script>
    <script type='text/javascript' src='https://sbeglobalservice.com/wp-includes/js/wp-embed.min.js?ver=5.3.2'></script>
    <script type="text/javascript" id="slb_context">/* <![CDATA[ */if (!!window.jQuery) { (function ($) { $(document).ready(function () { if (!!window.SLB) { { $.extend(SLB, { "context": ["public", "user_guest"] }); } } }) })(jQuery); }/* ]]> */</script>
    <script src="https://sbeglobalservice.com/wp-content/themes/sbe-global/js/ccblog.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        var followLinks = function (url) {
            gtag('event', 'click', {
                'event_category': 'Link Clicked',
                'event_label': url,
                'transport_type': 'beacon'
            });
        }
        var setLinks = function () {
            var links = document.querySelectorAll("a");
            links.forEach(function (l) {
                var link = "unknown";
                link = l.getAttribute("id") ? l.getAttribute("id") : "";
                link = l.getAttribute("data-link-name") ? l.getAttribute("data-link-name") : link;
                link = l.getAttribute("href") !== "javascript:void()" ? l.getAttribute("href") : link;
                l.setAttribute("onclick", "followLinks('" + link + "')");
            });
        }
        setLinks();
        var followButtons = function (button) {
            gtag('event', 'click', {
                'event_category': 'Button Clicked',
                'event_label': button,
                'transport_type': 'beacon'
            });
        }
        var setButtons = function () {
            var buttons = document.querySelectorAll("button");
            buttons.forEach(function (b) {
                var button = "unknown";
                button = b.getAttribute("id") ? b.getAttribute("id") : button;
                button = b.getAttribute("data-button-name") ? b.getAttribute("data-button-name") : button;
                b.setAttribute("onclick", "followButtons('" + button + "')");
            });
        }
        setButtons();
    </script>
</body>
</html>