@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Coeos.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Coeos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Coeos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole(WC.AdminRole) || User.IsInRole(WC.SousTraitantRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Contenu
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                                    <a class="nav-link text-dark" asp-area="" asp-controller="Interventions" asp-action="Index">Intervention</a>

                                    @if (User.IsInRole(WC.AdminRole))
                                    {
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Categorie" asp-action="Index">Catégorie</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Agents" asp-action="Index">Agents</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Lieux" asp-action="Index">Lieux</a>

                                        <a class="nav-link text-dark" asp-area="" asp-controller="Societes" asp-action="Index">Societes</a>

                                        <div class="dropdown-divider"></div>
                                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" onclick="return validateInput()">Create Admin User</a>
                                    }
                                </div>
                            </li>
                        }
                        </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Coeos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Politique de confidentialité</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    function validateInput() {
        Swal.fire(
            'Error!',
            'Impossible de créer un compte pour le moment',
            'error'
        )
        return false;
    }
</script>